.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-image: linear-gradient(180deg, #104581, #155db0);
}
.withbgimg{
    background-image: url('../images/mask.png') !important;
    height: 100vh; /* Make the container full screen */

  background-position: center; /* Center the background image */
  background-size: cover; 
}